@model IEnumerable<Lab06.Models.Review>

@{
    ViewData["Title"] = "Index";
    var movies = ViewData["Movies"];
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieID)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserReview)
            </td>
            <td>
                
            </td>
        </tr>
}
    </tbody>
</table>
